server:
  port: "8080"

security:
  allowed_origins:
    - "http://localhost:5173"
    - "http://127.0.0.1:5173"
  max_request_body_bytes: 1048576
  allow_empty_origin_for_ws: false

jwt:
  secret: ""
  issuer: "chainora-api"
  ttl_minutes: 15
  refresh_ttl_minutes: 10080

auth:
  message_template: "Sign this to login to Chainora: %s"

initia:
  rpc_url: "http://23.94.63.207:8545"
  api_url: "https://api.testnet.initia.xyz"

database:
  url: ""

relayer:
  master_private_key: ""
  master_address: ""
  message_template: "Register Chainora username '%s' (session: %s)"
  primary_message_template: "Set Chainora primary username '%s' (session: %s)"
  initiad_binary: "initiad"
  chain_id: "initiation-2"
  node_url: "https://rpc.testnet.initia.xyz:443"
  key_name: "sponsor"
  keyring_backend: "test"
  home: "/Users/<you>/.initia-relayer"
  gas_prices: "0.015uinit"
  dry_run: false
  move:
    module_addr: ""
    module_name: "usernames"
    function_name: "register_domain"
    args_json: '["string:{username}","u64:31536000"]'
    type_args_json: "[]"
    primary_function_name: "set_primary"
    primary_args_json: '["string:{username}"]'
    primary_type_args_json: "[]"

card:
  factory_root_public_key: "043e5662949af3d3bdf8c226bdd8444098a14f8960870ccb5be55bbe098b363aadd06109c1c50cfcfb44f80ecd082fd1d00fc8de8c73ed521ad0bab962422f721a"
